
html, body {
    margin: 0;
    background-color: #e3e3e3;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.spacer {
    border: none;
}

.row {
    outline-style: solid;
}

.spacer {
    background: none;
}

.red {
    background-color: #d73f4c;
    outline-color: #943037;
    color: #d73f4c
}

.red td {
    background-color: #943037;
}

.total td.red {
    background-color: #f9e0e5;
    border-color: #943037
}

.red button {
    background-color: #f9e0e5;
}

.red button:disabled {
    background-color: #c5b2b6;
    color: #611f24
}

.red button:hover:enabled {
    background-color: #ffeee5;
}

.red img {
    filter: invert(28%) sepia(58%) saturate(7167%) hue-rotate(344deg) brightness(102%) contrast(69%);
}

.yellow {
    background-color: #fee44a;
    outline-color: #d8a352;
    color: #fee44a
}

.yellow td {
    background-color: #d8a352;
}

.total td.yellow {
    background-color: #fdf9f1;
    border-color: #d8a352
}

.yellow button {
    background-color: #fdf9f1;
}

.yellow button:disabled {
    background-color: #cac6c0;
    color: #cbb63b
}

.yellow button:hover:enabled {
    background-color: #fefff2;
}

.yellow img {
    filter: invert(90%) sepia(64%) saturate(1701%) hue-rotate(320deg) brightness(109%) contrast(104%);
}

.green {
    background-color: #419f5b;
    outline-color: #3f7c52;
    color: #419f5b
}

.green td {
    background-color: #3f7c52;
}

.total td.green {
    background-color: #ebf3f1;
    border-color: #3f7c52
}

.green button {
    background-color: #ebf3f1;
}

.green button:disabled {
    background-color: #b9c0be;
    color: #2c6c3d
}

.green button:hover:enabled {
    background-color: #f6faff;
}

.green img {
    filter: invert(56%) sepia(21%) saturate(1032%) hue-rotate(84deg) brightness(90%) contrast(92%);
}

.blue {
    background-color: #394a8b;
    outline-color: #2d2e4b;
    color: #394a8b
}

.blue td {
    background-color: #2d2e4b;
}

.total td.blue {
    background-color: #e4e0f2;
    border-color: #2d2e4b
}

.blue button {
    background-color: #e4e0f2;
}

.blue button:disabled {
    background-color: #b3b0bf;
    color: #242e57
}

.blue button:hover:enabled {
    background-color: #faecff;
}

.blue img {
    filter: invert(22%) sepia(44%) saturate(1392%) hue-rotate(199deg) brightness(102%) contrast(84%);
}

.scratch {
    background-color: #e3e3e3;
    outline-color: #000000;
    color: #000000
}

.scratch td {
    background-color: #000000;
}

.total td.scratch {
    background-color: #e3e3e3;
    border-color: #000000
}

.scratch button {
    background-color: #e3e3e3;
}

.blue button:disabled {
    background-color: #b0b0b0;
}

.scratch button:hover:enabled {
    background-color: #fcfcfc;
}

.total {
    background-color: #e3e3e3;
    outline-color: #494949;
    color: #494949
}

tbody {
    display: flex;
}

tr {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
}

td {
    display: flex;
    font-size: 100%;
    align-items: center;
    justify-content: center;
}

button {
    width: 90%;
    height: 90%;
    border: none;
    margin: 0;
    padding: 0;
    background: none;
    color: inherit;
    font: inherit;
}

button:hover:enabled {
    cursor: pointer;
}

img {
    width: 100%;
    height: 100%;
}

@media (orientation: landscape) {

    body {
        flex-direction: row;
        font-size: 4vw;
        border-radius: 0.5vw;
    }

    .card-main {
        flex-direction: column;
    }
    .card-main tr {
        flex-direction: row;
    }

    .card-score {
        flex-direction: row;
    }
    .card-score tr {
        flex-direction: column;
    }

    td {
        width: 6vw;
        height: 6vw;
        border-radius: 0.5vw;
    }

    .total td {
        box-sizing: border-box;
        border-width: 0.5vw;
        border-style: solid;
        font-size: 2.75vw;
    }

    .spacer {
        height: 2vw;
    }
    .card-score .spacer {
        width: 2vw;
    }
    .row {
        padding: 1vw;
        outline-width: 1vw;
        border-radius: 1vw;
    }

}

@media (orientation: portrait) {
    body {
        flex-direction: column;
        font-size: 4vh;
        border-radius: 0.5vh;
    }

    .card-main {
        flex-direction: row;
    }
    .card-main tr {
        flex-direction: column;
    }

    .card-score {
        flex-direction: column;
    }
    .card-score tr {
        flex-direction: row;
    }

    td {
        width: 6vh;
        height: 6vh;
        border-radius: 0.5vh;
    }

    .total td {
        box-sizing: border-box;
        border-width: 0.5vh;
        border-style: solid;
        font-size: 2.75vh;
    }

    .spacer {
        width: 2.5vh;
    }
    .card-score .spacer {
        height: 2.5vh;
    }
    .row {
        padding: 1vh;
        outline-width: 1vh;
        border-radius: 1vh;
    }
}